@model BazyDanychProjekt.Models.Hotel

<h2>Edytuj Zdjęcia Hotelu</h2>

<form asp-action="EdytujZdjeciaHotelu" method="post">
    <input type="hidden" name="HotelId" value="@Model.Id" />

    <!-- Formularz edycji zdjęć -->
    <label for="Url">Nowe Zdjęcie (URL):</label>
    <input type="text" id="Url" name="Url" required />

    <button type="submit">Dodaj Zdjęcie</button>
</form>


<!-- Lista aktualnych zdjęć -->
<h3>Aktualne Zdjęcia:</h3>
@foreach (var zdjecie in Model.Zdjecia)
{
        <div>
            <img src="@zdjecie.Url" alt="Zdjęcie" width="100" height="100" />
        <a asp-action="UsunZdjecie" asp-route-zdjecieId="@zdjecie.Id">Usuń Zdjęcie</a>
        </div>
}
<a asp-action="EdytujHotel" asp-route-id="@Model.Id">Powrót do edycji Hotelu</a>